<!DOCTYPE html>
<html>
<head>
  <title>Dogrescue</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<div class="container">
		
		<div class="row">
			<div class="span16">
				<%= yield %>
			</div>
		</div>
		
	</div>

</body>
</html>
